<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <meta name='aweme:title' content='向往的民宿抖音专属价'>
    <meta name='aweme:description' content='抖音民宿预定功能上线啦～全国各区域上百家品质民宿，抖音专属价预定！'>
    <meta name='aweme:image' content='https://lf1-dycdn-tos.pstatp.com/obj/ies.live.magic/d976dc88367e81e2cb2ef533f4ae5ea4?size=364x364'>
    <meta property='aweme:image:width' content='364'>
    <meta property='aweme:image:height' content='364'>
    <meta name='aweme:url' content='https://aweme.snssdk.com/magic/page/ejs/5d75e9f93bf2f802106397a6?schema_type=11'>
    <meta name='aweme:qrcode' content='1'>
</head>
